/* Note to students: Some properties are given to you to fill out,

others you can modify as they stand, and if you have time,

there are definitely some properties you should add!*/



    html {

      height: 100%;

    }

    body {

       width: 800px;

       height: 100%;

    }



    header {

        background-color: #125649;

        padding: 40px;
        border: 10px solid #000000;
        margin: 50px;

        font-size: 30px;

        display: block;

    }

    nav {
      P {
        font-size: 30px;
      }

}
    nav ul {

        padding: 5px;

        float: inherit;

        border: 3px solid red ;

        list-style-type: none;

    }

    nav li {
      font-size: 25px;

        float: right;

    }

    nav li a {

        display: block;

        height: 25px;

        padding: 12px 18px 8px 18px;

        vertical-align: middle;

    }

    a {
      background-color: #eec220;

      padding: 40px;
      border: 10px solid ##d8e8c9;
      margin: 50px;

    }

    section {

        width: 73%;

        display: inline-block;

        float: left;

    }
    img {
      height: 400px;
    }
    P { text-align: center; }
    H2 { text-align: center; }
    aside {
      h2 {
        background-color: #125649;

        padding: 40px;
        border: 10px solid #000000;
        margin: 50px;
      }
        width: 45%;

        display: inline-block;

        background-color: solid #7bd228;

        padding: left;

        min-height: 100%;

    }

    aside ul {
      font-style: italic;

        list-style-type: none;

    }

    footer {

        width: 790px;

        background-color: solid yellow;

        color:;

        clear: both;

        display: block;

    }
